.hormon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .overskrift-bue {
    width: 840px;
    margin-bottom: -730px; /* justér afhængigt af placering */
    margin-left: 25px;
  }
  
  .hormon-wrapper {
    width: 400px;
    height: 400px;
    background: #8DA1BD;
    padding: 20px 20px;
    border-radius: 50%;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centrerer barerne vertikalt */
    align-items: center;
    gap: 12px; /* ens afstand mellem barerne */
  }
  
  .hormon-bar {
    background: #FFFCF5;
    height: 44px;
    width: 65%;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
  }
  
  .gul-niveau {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%; /* starter altid skjult */
    background: #F2ED98;
    transition: width 0.5s ease;
    z-index: 1;
  }  
  

  .label {
    position: relative;
    z-index: 2;
    line-height: 30px;
    font-family: 'Super Funky', sans-serif;
    color: #8DA1BD;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
  }
  